<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialPortTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SerialPortTerminal.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>28800</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>Odd</value>
            </setting>
            <setting name="DataMode" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>Two</value>
            </setting>
            <setting name="SendData" serializeAs="String">
                <value />
            </setting>
            <setting name="SendAddr" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SendCmd" serializeAs="String">
                <value>c9</value>
            </setting>
            <setting name="SendFrom" serializeAs="String">
                <value>ff</value>
            </setting>
            <setting name="RxFilter1" serializeAs="String">
                <value>ff</value>
            </setting>
            <setting name="RxFilter2" serializeAs="String">
                <value>05</value>
            </setting>
            <setting name="RxFilter3" serializeAs="String">
                <value>61</value>
            </setting>
        </SerialPortTerminal.Properties.Settings>
    </userSettings>
</configuration>